<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycuoppnew.mycuoppnew2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Welcome"
            android:label="@string/title_activity_welcome" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".SearchdetailActivity"
            android:label="@string/title_activity_searchdetail" />
        <activity
            android:name=".jobdetail"
            android:label="@string/title_activity_jobdetail" />
        <activity
            android:name=".AppliedjobActivity"
            android:label="@string/title_activity_appliedjob" />
        <activity
            android:name=".SavedjobsActivity"
            android:label="@string/title_activity_savedjobs" />
        <activity
            android:name=".PostopportunitiesActivity"
            android:label="@string/title_activity_postopportunities" />
        <activity
            android:name=".PostedjobsActivity"
            android:label="@string/title_activity_postedjobs"></activity>
    </application>

</manifest>
